<% layout("/layouts/boilerplate")-%>

<div class="rows">
    <div class="alert alert-primary d-flex align-items-center col-8" role="alert">
    <div>
      <p><%= message %></p>
    </div>
  </div>
</div>
